
@font-face {
  font-family: "SF Compact";
  src: url('./fonts/SF-Compact-Text-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Compact";
  src: url('./fonts/SF-Compact-Text-RegularItalic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SF Compact";
  src: url('./fonts/SF-Compact-Text-Semibold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Compact";
  src: url('./fonts/SF-Compact-Text-SemiboldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "SF Compact", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

textarea:focus, input:focus {
  outline: none;
}

.scrollGradient {
  background:
    linear-gradient(white 40%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 0), white 60%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(34,34,34, 0.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 50% 100%, rgba(34,34,34, 0.2), rgba(0,0,0,0)) 0 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 63px, 100% 63px, 100% 21px, 100% 21px;
}
